/* --- footer --- */

footer{
    height: 400px;
    padding: 20px;
    background-color: var(--color-secondary-light);        
}
.container-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-div{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.footer-div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.footer-text1{
    color: var(--color-secondary-default);
}
.footer-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer-icons > a > img{
    filter: brightness(0) saturate(100%) invert(83%) sepia(67%) saturate(3024%) hue-rotate(323deg) brightness(94%) contrast(105%); 
}
.footer-icons > a > img:hover{
    filter: brightness(0) saturate(100%) invert(65%) sepia(95%) saturate(1920%) hue-rotate(358deg) brightness(95%) contrast(92%);
}
.footer-contact{

    font-weight: 700;
    color: var(--color-neutral-medium);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.footer-copyright{
    width: 100%;
    text-align: end;
    color: var(--color-neutral-light);

}
.footer-copyright span{
    font-size: 12px;
}

.footer-icons img{
    width: 40px;
}

/* -- Queries -- */

@media only screen and (min-width: 834px){

}
  
@media (min-width: 1240px) {
    .footer-text1{
        font-size: 31px;
    }
    .footer-div > div{
        flex-direction: row-reverse;
    }

} 