/* --- header / Mobile --- */
.navbar {
    box-sizing: border-box;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-bottom: 0.5px solid var(--color-neutral-light);
    
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.navbar-logo{
width: 180px;
}

.navbar-logo img{
    width: 100%;
    height: auto;
}
/*
@supports(object-fit: cover){
    .navbar-logo img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
*/

/* -Menu burger- */

/* -de aqui- es el diseño del menu desplegable */
.menu {
    width: 280px;
    height: 500px;
    display: none;
    position: absolute;
    top: 80px;
    right: 0px;
    background: rgba(255, 255, 255, 0.405);
    backdrop-filter: blur(16px);
    padding: 25px;
} 
.container-menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.menu-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 60px;
}

.menu .menu-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.a-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
}

#toggle { /* icono menu desplegable */
    display: none;
}
/* -a aqui- */


.container-navbar label{
    display: block;
    cursor: pointer;
    position: relative;
    right: 0;
}
/*recuerda que esta funcion es la que hace que el toggle funcione, en estado */
#toggle:checked + .menu {
    display: block;
}

#nav-contact{
    display: flex;
}

