/* ------ Navbar ------ */
@import url(../css/header.css);
/* ------ footer ------ */
@import url(../css/footer.css);
/* ------ home ------ */
@import url(../css/home.css);
/* ------ gallery ------ */
@import url(../css/gallery.css);
/* ------ contact ------ */
@import url(../css/contact.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* FORMATEO INCIAL  */
*,
*::before,
*::after,
html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto flex', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  /*Color style*/
  --color-primary-default: #29a39d;
  --color-primary-hover: #21827e;
  --color-primary-presset: #19625e;
  --color-secondary-default: #f27a90;
  --color-secondary-light: #FDE9EC;
  --color-neutral-medium: #808080;
  --color-neutral-600: #606060;
  --color-neutral-dark: #2b2b2b;
  --color-neutral-light: #c0c0c0;
  --color-neutral-form: #EAEAEA;
  --color-neutral-light-2: #F5F5F5;
  --color-accent: #f4af3e;
  --Suporting-Green: #55C05A;
  --Suporting-Green-dark: #256528;
  --Suporting-red: #F7554A;
  --Suporting-red-dark: #9A1007;
}

/*text styles*/
/*
font-family: 'Roboto flex', sans-serif;
font-family: "Poppins", sans-serif;
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--color-neutral-dark);
  line-height: 40px;
}
h1 {
  font-size: 61.04px;
}
h2 {
  font-size: 48.83px;
}
h3 {
  font-size: 39.06px;
}
h4 {
  font-size: 31.25px;
}
h5 {
  font-size: 17.5px;
}
h6{
  font-size: 20px;
}
p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-neutral-dark);
}


/* -- GENERAL -- */

a {
  text-decoration: none;
  color: var(--color-neutral-dark);
}
* {
  outline: none !important;
}
textarea:focus,
input:focus {
  outline: none !important;
}
a, a:hover, a:visited{
  text-decoration: none;
}
.button-primary{
  width: 128px;
  cursor: pointer;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 10px;
  background: var(  --color-primary-default);
  color: white;
  border-style: none;
}

.button-primary:hover {
  background-color: var(--color-primary-hover);
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}
.icon-neutral{
  color: var(--color-neutral-medium)!important;
}
body{
  overflow-x: hidden;
}

/* -- Main -- */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
