/* ------ Navbar ------ */
@import url(../css/header.css);
/* ------ home ------ */
@import url(../css/home.css);
/* ------ footer ------ */
@import url(../css/footer.css);

/* FORMATEO INCIAL  */
*,
*::before,
*::after,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  /*Color style*/
  --color-primary-default: #29a39d;
  --color-primary-hover: #21827e;
  --color-primary-presset: #19625e;
  --color-secondary-default: #f27a90;
  --color-secondary-light: #FDE9EC;
  --color-neutral-medium: #808080;
  --color-neutral-dark: #2b2b2b;
  --color-neutral-light: #c0c0c0;
  --color-neutral-light-2: #F5F5F5;
  --color-accent: #f4af3e;
}

/*text styles*/
/*
font-family: 'Roboto flex', sans-serif;
font-family: "Poppins", sans-serif;
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--color-neutral-dark);
  line-height: 40px;
}
h1 {
  font-size: 61.04px;
}
h2 {
  font-size: 48.83px;
}
h3 {
  font-size: 39.06px;
}
h4 {
  font-size: 31.25px;
}
h5 {
  font-size: 17.5px;
}
p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  color: var(--color-neutral-dark);
}

/* -- GENERAL -- */

a {
  text-decoration: none;
  color: var(--color-neutral-dark);
}
* {
  outline: none !important;
}
textarea:focus,
input:focus {
  outline: none !important;
}
/* de momento los enlaces estan sin colores, pendiente de cambiar*/
a, a:hover, a:visited{
  text-decoration: none;
}
body{
overflow-x: hidden;
}

/* -- Main -- */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section{
  max-width: 1200px;
}

/* -- Footer -- */
/* -- Queries -- */
